{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<div>
				<p> Tags: 
					{{ with .Params.tags }}
						{{ range . }}
							<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ title . }}</a>
						{{ end }}
					{{ end }}
				</p>
				<p>Date: <time datetime="{{ .Date | time.Format ":date_full" }}">{{ .Date | time.Format ":date_full" }}</time></p>
			</div>
			<div>
				{{ .Content }}
			</div>
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ end }}
